body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: none;
    border: 1px solid black;
    width: 500px;
    height: 500px;

}

.squares {
    border: 1px solid black;
}

.squares:hover {
    background-color: black;
}

#btn {
    margin: 50px;
    margin-left: 125px;
    padding: 5px;
}

#input {
    margin: -40px;
    width: 135px;
    padding: 5px;
}