body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

#input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

#canvas {
    display: grid;
    grid-template-columns: none;
    border: 1px solid black;
    width: 500px;
    height: 500px;

}

.squares {
    border: 0.1px solid rgba(0, 0, 0, 0.02);
    background-color: white;
}

#update-btn {
    margin: 25px;
    margin-left: -10px;
    padding: 5px;
    width: 10em;
}

#rgb-btn {
    margin: 30px;
    padding: 5px;
    width: 8em;
    
}

#input {
    margin: -40px;
    width: 130px;
    padding: 5px;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #0b2b94;
    cursor: pointer;
}

p {
    margin-right: 5px;
    margin-left: -10px;
    font-size: 30px;
}