body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#canvas {
    display: grid;
    grid-template-columns: none;
    border: 1px solid black;
    width: 500px;
    height: 500px;

}

.squares {
    border: 0.1px solid rgba(0, 0, 0, 0.03);
    background-color: white;
}

#btn {
    margin: 50px;
    margin-left: 125px;
    padding: 5px;
}

#input {
    margin: -40px;
    width: 130px;
    padding: 5px;
}